@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color:#080808;
  color: #fff;
}

#header{
  width: 100%;
  height:100vh;
  background-image: url(images/background-1.png);
  background-size: cover;
  background-position: fixed;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.389);  
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 999;
  transition: 0.5s ease;
}

.logo{
  width: 110px;
  margin-right: 12rem;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}


.header-text{
  margin-top: 12%;
  font-size: 20px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.mobile-head-name{
  color: #ff004f;
}

.header-text h5{
  margin-top: -1rem;
  font-size: 22px;
  font-weight: 200;
}

.head-info{
  font-size: 16px;
  margin-top: 1rem;
  font-weight: 400;
  font-family:'Poppins', sans-serif;;
  line-height: 2;
  text-align: justify;
  padding: 0 1rem 0 1rem;
}

.hello{
  font-size: 49px;
  font-weight: 600;
  margin-bottom: 2px;
}

.hello-tag{
  font-size: 40px;
  font-weight: 290;
}

.carier{
  line-height: 2;
  font-size: 28px;
  margin-top: 20px;
  font-weight: 400;
  text-shadow: #080808;
}

.car-links{ 
  color: #d4f9ff;
}

.orange{
  color: orangered;
}

.geek{
  font-size: 27px;
}

.geeks{
  text-decoration: none;
  color:#3ffd6f;
  font-size: 22px;
}

/* scrolling */
.scrollToTop-btn{
  z-index: 999;
  position: fixed;
  background: #ff004f;
  color: #fff;
  width: 45px;
  box-shadow: #131313 0px 0px 10px;
  height: 45px;
  right: 0;
  bottom: 70px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active{
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

/* ---About----- */

#about{
  padding: 80px 0;
  color: #ababab;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 5px;
}

.social-icon{
  margin-top: 10px;
  margin-bottom: 30px;
}

.social-icon a{
  text-decoration: none;
  font-size: 32px;
  margin-left: 44px;
  color:#ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icon a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}


.about-col-2{
  flex-basis: 60%;
  padding-left: 20px;
  margin-top: -3.5rem;
}

.sub-title{
  margin-top: 20px;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.sub-info{
  text-align: justify;
  padding: 13px 85px 12px 0px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn.btn2{
  display: inline-block;
  background: #ff004f;
  margin-top: 20px;
}

/* ---scroll animation mouse--- */
.center{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 96%;
  left: 50%;
}

.down{
  position: relative;
  width: 18px;
  height: 32px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #d4d4d4;
  overflow: hidden;
  opacity: 0.7;
}

.down::before{
  content: '';
  position: absolute;
  top: 4px;
  left:50%;
  width: 4px;
  height: 6px;
  border-radius: 50%;
  background: #d4d4d4;
  transform: translate(-50%,0);
  animation: animate 1s linear infinite;
}

.down::after{
  content: '';
  position: absolute;
  top: 2px;
  left:50%;
  width: 4px;
  height: 9px;
  border-radius: 50%;
  background: #d4d4d4;
  transform: translate(-50%,0);
  border-radius: 3px;
}

@keyframes animate
{
  0%{
      transform: translate(-50%,9px);
      opacity: 0;
  }
  80%{
      transform: translate(-50%,30px);
      opacity: 1;
  }
  100%{
      transform: translate(-50%,50px);
      opacity: 0;
  }
}


/* ---Skills----- */

#skills{
  padding: 30px 0;
  background-color: #141414;
}

.skill-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;
}

.skill-list div{
  /* background: #292929;
  padding: 25px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px; */ 
  text-align: center;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  background: #f1004c;
  border-radius: 10px;
  font-weight: 700;
  color: rgb(233, 233, 233);
}
.skill-list div h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ---Portfolio----- */

#portfolio{
  padding: 50px 0;
}

.work-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.work{
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 20px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.7), #f31e61);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: left;
  font-size: 18px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 600;
  margin-bottom: 20px;
}

.layer p{
  line-height: 1.6;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px; 
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover{
  background: #ff004f;
}

/* ---Contact----- */

#contact{
  background-color: #131313;
}
.contact-list{
  flex-basis: 35%;
  margin-top: 30px;
}


.contact-list p{
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-list p i{
  color: #ff004f;
  margin-right: 15px; 
  font-size: 35px;
}

.social-icons{
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 40px;
  margin-right: 25px;
  color:#ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.footer-mail{
  text-decoration: none;
  color: rgb(166, 177, 185);
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #f31e61;
  font-weight: 300;
}

.copyright p{
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.foot-info{
  font-size: 19px;
  font-weight: 250;
  margin-top: 10px;
  margin-left: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav .fas{
  display: none;
}

/* Loader */

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 550px;
  stroke: #c9d0ff;
  fill-opacity: 0;
  stroke-width: 2.4px;
  stroke-dasharray: 4500;
  animation: draw 15s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* ---Media Queries----- */

@media only screen and (max-width: 600px) {
 #header{
  background-image: url(./images/background.jpg);
  background-size: cover;
 }


 .logo{
  width: 140px;
  margin-right: 7rem;
}

 .hello{
  font-size: 1.5rem;
  margin-top: 8rem;
 }

.mobile-head-name{
  font-size: 2.2rem;
}

.mobile-head{
  font-size: 2rem;
}

.header-text{
  font-size: 50px;
 }

 .header-text h1{
  font-size: 37px;
  margin-bottom: 2rem;
 }

 .carier{
  font-size: 1rem;
  margin-top: 2.1rem;
  font-weight: 250;
  line-height: 2.7;
 }

 .geek{
  font-size: 1rem;
  margin-top: 2.1rem;
  font-weight: 250;
  line-height: 2.7;
 }
 
 .geeks{
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.7;
 }

.orange{
  font-weight: 350;
}

.car-links{
  font-weight: 350;
}

 .heading{
  justify-content: space-evenly;
 } 

 .header-text h5{
  font-size: 1rem;
}

 .nav-brand{
  margin-top: 10px;
 }

 nav .fas{
  display: block;
  font-size: 25px;
 }

 nav ul{
  background: #ff0756;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 40vh;
  border-radius: 0 0 0 15px;
  padding-top:50px;
  z-index: 2;
  transition: right 0.5s;
 }

 nav ul li{
  display: block;
  margin: 25px;
 }

 nav ul .fas{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
 }

 .sub-title{
  font-size: 40px;
 }

 .sub-info{
  padding: 20px 0;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .about-col-1, .about-col-2{
  flex-basis: 100%;
 }

  .about-col-1{
   margin-bottom: 30px;
  }

  .social-icon{
    display: none;
  }

  .about-col-2{
  font-size: 14px;
  padding: 0;
  }

  .contact-list{
      flex-basis: 100%;
  }

  .sub-title{
    margin-top: 3rem;
    font-size: 50px;
    font-weight: 600;
    color: #ebe8e8;
  }

  .subtitle-info{
      font-size: 35px;
  }

  .copyright{
      font-size: 14px;
  }

  .skill-list{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 20px;
      margin-top: 20px;
  }

  .skill-list div{
      /* background: #292929;
      padding: 25px;
      font-size: 1rem;
      font-weight: 700;
      border-radius: 10px; */ 
      text-align: center;
      padding: 0.9rem 1.5rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      font-size: 0.6rem;
      background: #f1004c;
      border-radius: 10px;
      font-weight: 700;
      color: rgb(233, 233, 233);
  }

  .work-list{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      margin-top: 50px;
  }

  .layer h3{
      font-size: 1.4rem;
  }
  .layer p{
      font-size: 1rem;
      line-height: 1.2;
  }

  .footer-mail{
      font-size: 19px;
  }

  .contact-list p i{
      color: #ff004f;
      margin-right: 15px; 
      font-size: 21px;
  }
  
  .contact-list p{
      margin-top: 30px;
      font-size: 23px;
      margin-bottom: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .copyright p{
      font-size: 22px;
      font-weight: 600;
      font-family: 'Times New Roman', Times, serif;
  }

  .foot-info{
      font-size: 16px;
      font-weight: 250;
      margin-top: 10px;
      margin-left: 28px;
      margin-right: 28px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .social-icons{
    text-align: center;
  }

  #svg {
    height: auto;
    width: auto;


}
