@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

section{
  padding: 100px 200px;
}

/*Main page*/
.main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content{
  max-width: 800px;
}

.main .content h2{
  color: #fff;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span{
  font-size: 2.8em;
  font-weight: 600;
}

.animated-text{
  position: relative;
  height: 60px;
  overflow: hidden;
}

.animated-text h3{
  color: #4e9eff;
  font-size: 2em;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1){
  animation: text-move 12s infinite;
}

@keyframes text-move{
  0%{
    margin-top: 0;
  }
  25%{
    margin-top: -70px;
  }
  50%{
    margin-top: -140px;
  }
  75%{
    margin-top: -70px;
  }
  100%{
    margin-top: 0;
  }
}

.btn{
  color: #fff;
  background: #751beb;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 3px;
  margin-top: 30px;
  transition: 0.5s ease;
}



.btn:hover{
  background: #160161;
}

.btn1{
  color: #fff;
  background: #2c2b2c;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-top: 30px;
  transition: 0.5s ease;
}



.btn1:hover{
  background: #111113;
}

.media-icons{
  margin-top: 50px;
}

.media-icons a{
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}


header{
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky{
  background: #751beb;
  padding: 10px 200px;
}

header .brand{
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation a{
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover{
  color: #6b18f1;
}

header.sticky .navigation a:hover{
  color: #000;
}

body{
  min-height: 90vh;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title{
  position: relative;
  color: #751beb;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 40px;
}

.section-title:before{
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #751beb;
  transform: translateX(-50%);
}

.section-title:after{
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #751beb;
  transform: translateX(-50%);
}

.about .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.about .content .col-left{
  position: relative;
  width: 45%;
  margin-top: .1rem;
}

.about .content .col-right{
  position: relative;
  width: 50%;
}

.about .content .col-left .img-card{
  position: relative;
  width: 100%;
  min-height: 450px;
}

.about .content .col-left .img-card img{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 800px){
  .about .content .col-left .img-card{
    min-height: 500px;
    min-width: 400px;
    margin: 1.5rem;
  }
}
.about .content .col-right .content-title{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.about .content .col-right .paragraph-text{
  font-size: 1em;
}

.skills{
  background: #000016;
}

.skills .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .col-left{
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title{
  margin-bottom: 20px;
}

.skills .content .col-right{
  position: relative;
  width: 46%;
}

.Skills {
  display: flex;
  flex-wrap: wrap; }
  .Skills__skill {
    padding: 0.8rem 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    background: #512afc;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(233, 233, 233); }

    .Skills__skill-tool {
      padding: 0.8rem 2rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      font-size: 1rem;
      background: #2a85fc8c;
      border-radius: 13px;
      font-weight: 600;
      color: rgb(233, 233, 233); }

.work{
  background: #f0f0f0;
}

.portfolio__projects{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 800px){
  .portfolio__projects{
    grid-template-columns: 1fr;
   
}
}

.portfolio__project{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 1rem;
}

.portfolio__project-image{
  height: 20rem;
  width: 30rem;
  display: block;
  border:1rem solid #fff;
  overflow: hidden;
  box-shadow: 0 0 1.6rem rgba(0,0,0,0.2);
  transition: all 400ms ease;
}

.portfolio__project-image:hover{
  box-shadow: none;
}

.portfolio__project-image img{
  transform: 0;
  transition: all 6s ease;
}

.port{
  height: 116rem;
}

.port1{
  height: 80rem;
}

.port2{
height: 62.5rem;
}

.port3{
height: 20rem;
width: 30rem;
}
.port4{
height: 109rem;
}

.portfolio__cta{
  display: flex;
  gap:1rem;
}

.portfolio__project-image:hover img{
  transform:translateY(calc(-100% + 18rem)); 
}

.contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1px;
  height: 50vh;  
  background: #1c0036;
  position: relative !important;
    line-height: 1.5;
    left: 0;
    bottom: 0;
    border-radius: 0 20px 0 0;
}

@media screen and (max-width: 800px){
  .contact{
    height: 100vh;
  }
  
}
.contact-body{
  position: relative !important;
  left: 1% !important;
  top: 2% !important;
  bottom: 10% !important;
}

@media screen and (max-width: 800px){
  .contact-body{
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }
  
}

.contact-title{
  font-size: 2em;
  font-weight: 600;
  font-size: 3rem;
  font-family:sans-serif;
  margin-bottom: .5rem;
  color: #fff;
}

@media screen and (max-width: 800px){
  .contact-title{
    font-size: 2em;
    font-weight: 600;
    font-size: 3rem;
    font-family:sans-serif;
    margin-bottom: .5rem;
    color: #fff;
  }
  
}
.contact-text{
  font-family: sans-serif;
  font-size: 2rem;
  line-height: 2;
  font-weight: 500;
  margin: 1rem 1;
  margin-bottom: 1rem;
  color: #fff;
}

@media screen and (max-width: 800px){
  .contact-text{
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 2;
    font-weight: 500;
    margin: 1rem 1;
    margin-bottom: 1rem;
    color: #fff;
  }
  
}

.contact-icons{
  margin: 2rem 1;
  color: #eee;
}

.c-i{
  margin-left: 1rem;
  color: #eee;
}

.main-footer {
  background: #050505;
  color: #fff; }

.main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0; 
}

.footer-mail{
  text-decoration: none;
  color: rgb(133, 241, 255);
}
    
@media only screen and (max-width: 56.25em) {
      .main-footer__upper {
        padding: 6rem 0; } }
@media only screen and (max-width: 37.5em) {
      .main-footer__upper {
        display: block; } }

.main-footer__row-1 {
    order: 2; 
    margin-left: 2rem;
    margin-right: 5rem; }
    
@media only screen and (max-width: 56.25em) {
      .main-footer__row-1 {
        margin-bottom: 5rem; } }
  
.main-footer__row-2 {
    width: 40%;
    order: 1;
    max-width: 50rem; 
    margin-left: 5rem;}
    @media only screen and (max-width: 56.25em) {
      .main-footer__row-2 {
        width: 100%; } }

.main-footer__short-desc {
    margin-top: 1rem;
    color: #eee;
    font-size: 1rem;
    line-height: 1.7; }

.main-footer__social-cont {
    margin-top: .5rem; }

.main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem;
}

.main-footer__icon--mr-none {
      margin-right: 0; }

.main-footer__lower {
    padding: 1.5rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1rem;
    text-align: left;
    text-align: center; }

.main-footer__lower a {
      text-decoration: none;
      font-weight: bold;
      margin-left: 2px; }

@media only screen and (max-width: 56.25em) {
      .main-footer__lower {
        padding: 3.5rem 0; } }

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  header.sticky{
    padding: 10px 20px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation a{
    color: #000;
    font-size: 1.2em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation a:hover{
    background: #751beb;
    color: #fff;
    transition: 0.3s ease;
  }

  .menu-btn{
    position: absolute;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section{
    padding: 80px 20px;
  }

  .main .content h2{
    font-size: 1em;
  }

  .animated-text h3{
    font-size: 2.2em;
  }

  .section-title{
    font-size: 1.8em;
  }

  .about .content{
    flex-direction: column;
  }

  .about .content .column{
    position: relative;
    width: 100%;
  }

  .about .content .col-right{
    margin-top: 40px;
  }

  .skills .content{
    flex-direction: column;
  }

  .skills .content .column{
    position: relative;
    width: 100%;
  }

  .skills .content .col-right{
    margin-top: 40px;
  }

  .contact-form{
    padding: 35px 40px;
  }
}

.scrollToTop-btn{
  z-index: 999;
  position: fixed;
  background: #751beb;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active{
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.title1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title1{
  position: relative;
  color: #751beb;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 70px;
}

.section-title1:before{
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #751beb;
  transform: translateX(-50%);
}

.section-title1:after{
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #751beb;
  transform: translateX(-50%);
}

@media screen and (max-width: 1040px){
  .section-title1{
    font-size: 1.8em;
  }

  .section-title1:before{
    top: 56px;
    width: 100px;
  }

  .section-title1:after{
    top: 50px;
    width: 10px;
  }
  
}

@media (max-width: 800px){
  header{
    padding: 12px 20px;
  }

  header.sticky{
    padding: 10px 20px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation a{
    color: #000;
    font-size: 1.2em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation a:hover{
    background: #751beb;
    color: #fff;
    transition: 0.3s ease;
  }

  .menu-btn{
    position: absolute;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section{
    padding: 80px 20px;
  }

  .main .content h2{
    font-size: 1em;
  }

  .animated-text h3{
    font-size: 2.2em;
  }

  .section-title{
    font-size: 1.8em;
  }

  .about .content{
    flex-direction: column;
  }

  .about .content .column{
    position: relative;
    width: 100%;
  }

  .about .content .col-right{
    margin-top: 40px;
  }

  .skills .content{
    flex-direction: column;
  }

  .skills .content .column{
    position: relative;
    width: 100%;
  }

  .skills .content .col-right{
    margin-top: 40px;
  }

  .contact-form{
    padding: 20px 30px;
  }
}
